<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style type="text/css">


    body, page {
        background: #ffffff;
        min-width: 20cm;
        font-family: 'Calibri', sans-serif;
        font-size: 12px;
        margin: 0.5cm;
    }
    
    .wrapper, .main {
        width: 100%;
        max-width: 21.59cm;
        margin: auto;
        background-color: #ffffff;
        color: #4a4a4a;
        border-spacing: 0;
    }
    
    .tables-headers {
        background-color: #45546A;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo {
        font-size: 16px;
        line-height: 0.56cm;
        vertical-align: middle;
    }
    
    .subtitulos, .etiquetas {
        font-size: 12px;
        font-weight: bold;
        color: #45546A;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .etiquetas, .datos {
        font-size: 10px;
    }
    
    .datos, .parrafo {
        color: #585858;
    }
    
    .parrafo {
        text-align: justify;
        line-height: 130%;
    }
    
    .b2 {
        background-color: #ffffff;
        text-align: left;
        line-height: 150%;
    }
    
    .contenedor-columnas {
        text-align: center;
        vertical-align: top;
    }
    
    
    .tables-body {
        font-size: 10px;
        vertical-align: super;
    }
    
    .tables-body tr:nth-child(odd):not(:first-child) {
        background: #f2f2f2;
    }
    
    table {
        
        border-collapse: collapse;
        
    }
    
    table td, table th {
        border: none;
        padding: 1px;
        overflow: hidden;
    }
    
    .header h1 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-left: 140px;
        color: #45546a;
    }
    
    header img {
        position: absolute;
    }
    
    @page {
        margin: 0.5cm;
    }
    
    @media print {
        body, page {
            margin: 0cm;
            box-shadow: none;
        }
       
    }
    
    
        </style>
 <!-- Resumen de negociación --> 
<body class="main">
  <div style="page-break-after: always;">
    {% load humanize %}
    <table style="width: 100%; " border="0">
        <tbody>
            <tr>
                <td>
                    <table style="width: 100%;" border="0">
                        <colgroup>
                            <col style="width: 30%;">
                            <col style="width: 70%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><img style="display:inline; margin-left: auto; margin-right: auto;" src="https://devsmartevolution.s3.amazonaws.com/imagenes/Logo%2BSmart%2B-%2BLite.svg" width="150"></td>
                                <td>
                                    <p style="font-size: 16px; line-height: 1; text-align: center; margin-right: 210px;">Smart Evolution SAS<br>
                                        NIT 901.333.444-4</p>
                                    <p style="font-size: 22px; line-height: 0; text-align: center; margin-right: 210px; color: #45546A;">Resumen de la Negociación</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; height: 75px; margin-top: 1px; background-color: #e7e7e7;" border="0">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 60%;">
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>Nro Op</td>
                                <td class="datos">{{negotiationSummary.opId}}</td>
                                <td>Fecha</td>
                                <td class="datos">{{negotiationSummary.date|date:'d/m/Y'}}</td>
                            </tr>
                            <tr>
                                <td>Emisor</td>
                                <td class="datos">{{negotiationSummary.emitter}}</td>
                                <td>NIT</td>
                                <td class="datos">{{negotiationSummary.emitterId}}</td>
                            </tr>
                            <tr>
                                <td>Titulo Negociado</td>
                                <td class="datos">Facturas</td>
                                <td>NIT</td>
                                <td class="datos">{{negotiationSummary.payerId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px; border: 0.1px solid #ccc">
                        <colgroup>
                            <col style="width: 85%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr style="height: 20px;">
                                <td>Valor Futuro</td>
                                <td style="text-align: right;">{{negotiationSummary.futureValue}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>% a Descontar</td>
                                <td style="text-align: right;">[Ver Reporte de Venta]</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>Valor a Descontar</td>
                                <td style="text-align: right;">{{negotiationSummary.valueToDiscount}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>Tasa de Descuento</td>
                                <td style="text-align: right;">{{negotiationSummary.discountTax}}%</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>D&iacute;as Descontados</td>
                                <td style="text-align: right;">[Ver Reporte de Venta]</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>Valor Descuento Smart Evolution</td>
                                <td style="text-align: right;">{{negotiationSummary.SMDiscount}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td>Valor Venta Inversionistas</td>
                                <td style="text-align: right;">{{negotiationSummary.investorValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px; border: 0.1px solid #ccc">
                        <colgroup>
                            <col style="width: 85%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td style="height: 20px;">Descuento Pronto Pago para Inversionistas</td>
                                <td style="text-align: right;">{{negotiationSummary.investorDiscount|floatformat|intcomma}}</td>
                            </tr>
                            <tr>
                                <td style="height: 20px;">Valor Comisión Mesa Antes de Impuestos</td>
                                <td style="text-align: right;">{{negotiationSummary.commissionValueBeforeTaxes|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td style="height: 20px;">Costo Operación (Descuento Pronto Pago + Comisión)</td>
                                <td style="text-align: right;">{{negotiationSummary.operationValue|floatformat|intcomma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px; border: 0.1px solid #ccc">
                        <colgroup>
                            <col style="width: 42.5%;">
                            <col style="width: 42.5%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr style="height: 20px;">
                                <td colspan="2">Comisión Mesa</td>
                                <td style="text-align: right;">{{negotiationSummary.tableCommission|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="2">IVA</td>
                                <td style="text-align: right;">{{negotiationSummary.iva|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="2">Retención IVA</td>
                                <td style="text-align: right;">{{negotiationSummary.retIva|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="2">Retención en la fuente</td>
                                <td style="text-align: right;">{{negotiationSummary.retFte|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="2">ICA</td>
                                <td style="text-align: right;">{{negotiationSummary.retIca|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="height: 20px; font-weight: bold;">
                                <td>Valor Factura</td>
                                <td style="text-align: center;">{{negotiationSummary.billId}} </td> 
                                <td style="text-align: right;">{{negotiationSummary.billValue|floatformat|intcomma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px; border: 0.1px solid #ccc">
                        <colgroup>
                            <col style="width: 100%;">
                        </colgroup>
                        <tbody>
                            <tr style="height: 20px; font-weight: bold; color: #45546A; font-size: 14px;">
                                <td>Detalle de Saldos Pendientes, Compensaciones y/o Descuentos</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </td>

            </tr>
            
            <tr>
                <td>
                    
                    <table style="width: 100%; margin-top: 1px;border: 0.1px solid #ccc">
                        <colgroup>
                            <col style="width: 60%;">
                            <col style="width: 25%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr style="font-weight: bold; color: #45546A;">
                                <td style="text-align: center; height: 15px;">Descripción</td>
                                <td style="text-align: center;">Fecha</td>
                                <td style="text-align: center;">Monto</td>
                            </tr>
                            {% for x in pendingAccounts|slice:":5" %}
                                
                            <tr>

                                <td style="height: 20px;font-size: 10px">{{x.description}}</td>
                                <td style="text-align: center;font-size: 10px">{{x.date|date:'d/m/Y'}}</td>
                                <td style="text-align: center;font-size: 10px">{{x.amount|floatformat|intcomma}}</td>
                            </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                   
                </td>
            </tr>
           
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px;" border="0">
                        <colgroup>
                            <col style="width: 85%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr style="font-weight: bold;">
                                <td style="height: 20px;">Total Descuentos</td>
                                <td style="text-align: right;">{{negotiationSummary.totalDiscounts|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold; background-color: #e7e7e7;">
                                <td style="height: 20px;">TOTAL A DESEMBOLSAR</td>
                                <td style="text-align: right;">{{negotiationSummary.total|floatformat|intcomma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px;" border="0">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr style="font-size: 14px; color: #45546A; font-weight: bold;">
                                <td style="height: 20px;">Consignaciones de la Operación</td>
                            </tr>
                        </tbody>
                    </table>
                   
                </td>
            </tr>
            
                <tr>
                    <td>
                        <table style="width: 100%; margin-top: 1px; border: 0.1px solid #ccc;">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 40%;">
                                <col style="width: 15%;">
                                <col style="width: 25%;">
                            </colgroup>
                            <tbody>
                                <tr style="height: 20px; font-weight: bold; color: #45546A;">
                                    <td style="text-align: left;">Beneficiario</td>
                                    <td style="text-align: center;">Cuenta Bancaria</td>
                                    <td style="text-align: center; ">Fecha</td>
                                    <td style="text-align: center; ">Monto</td>
                                </tr>
                                {% for x in emitterDeposits|slice:":5" %}
                                    {% if x.state == 1 %}
                                    <tr style="height: 20px;">
                                        <td style="text-align: left; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{ x.beneficiary }}
                                        </td>
                                        <td style="text-align: center; font-size: 10px">
                                            {{ x.bankAccount }}
                                        </td>
                                        <td style="text-align: center; font-size: 10px;">
                                            {{ x.date|date:'m/d/Y' }}
                                        </td>
                                        <td style="text-align: center; font-size: 10px;">
                                            {{ x.amount|floatformat|intcomma }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        
                    </td>
                </tr>
              

            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px;" border="0">
                        <colgroup>
                            <col style="width: 85%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr style="font-weight: bold;">
                                <td style="height: 20px;">Total Consignaciones</td>
                                <td style="text-align: right;">{{negotiationSummary.totalDeposits|floatformat|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold; background-color: #e7e7e7;">
                                <td style="height: 20px;">PENDIENTE POR DESEMBOLSAR</td>
                                <td>{{negotiationSummary.pendingToDeposit|floatformat|intcomma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; margin-top: 1px;border: 0.1px solid #ccc">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td style="height: 20px; font-weight: bold; color: #45546A;">Observaciones</td>
                            </tr>
                            <tr>
                                <td style="height: 90px; text-align: justify; vertical-align: super;">{{negotiationSummary.observations}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    
    
    

    <!-- Reporte de compra -->
    <center class="wrapper" style="page-break-before: always;"

        <table class="main" width="100%" style="padding: 20px; margin: auto;">

    <!-- HEADER -->

            <tr>
                <td>
                    <table style="width: 100%;" border="0">
                        <colgroup>
                            <col style="width: 30%;">
                            <col style="width: 70%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><img style="display:inline; margin-left: auto; margin-right: auto;" src="https://devsmartevolution.s3.amazonaws.com/imagenes/Logo%2BSmart%2B-%2BLite.svg" width="150"></td>
                                <td>
                                    <p style="font-size: 16px; line-height: 1; text-align: center; margin-right: 210px;">Smart Evolution SAS<br>
                                        NIT 901.333.444-4</p>
                                    <p style="font-size: 22px; line-height: 0; text-align: center; margin-right: 210px; color: #45546A;">Reporte de Compra</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

    <!-- DATOS DEL EMISOR -->           

            <tr>
                <td class="b2">
                    <table width="100%" style="margin: 10px 0 20px;">

                        <tr>
                            <td class="etiquetas" width="20%" style="text-align: left;">Nro. Operación</td>
                            </td>
                            <td class ="datos" width="80%"><strong>	{{sellReport.opId}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">Nombre del Emisor
                            </td>
                            <td class ="datos" width="80%"><strong>	{{sellReport.emitterName}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">NIT / CC
                            </td>
                            <td class ="datos" width="80%"><strong>{{sellReport.emitterDocumentNumber}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">Dirección
                            </td>
                            <td class ="datos" width="80%"><strong>{{sellReport.emitterAddress}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">Teléfono
                            </td>
                            <td class ="datos" width="80%"><strong>{{sellReport.emitterPhoneNumber}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">Correo Electrónico
                            </td>
                            <td class ="datos" width="80%"><strong>{{sellReport.emitterEmail}}</strong></td>
                        </tr>

                        <tr>
                            <td class = "etiquetas" width="20%" style="text-align: left;">Corredor
                            </td>
                            <td class ="datos" width="80%"><strong>{{sellReport.emitterBroker}}</strong></td>
                        </tr>


                    </table>
                </td>
            </tr>

    <!-- DETALLE OPERACIÓN -->  

    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td>
                        <table style="font-size: 8px;" align="right">
                            <tr>
                                <th>Cant Op</th>
                                <th>Total VR Venta</th>
                                <th>Total VR Nominal</th>
                                <th>Total VR Futuro</th>
                            </tr>
                            <tr style="background-color: #f2f2f2; font-weight: bold;">
                                <td>{{sellReport.operations}}</td>
                                <td>{{sellReport.sell}}</td>
                                <td>{{sellReport.nominal}}</td>
                                <td>{{sellReport.future}}</td>
                            </tr>
                        </table>
                        {% for x in sellReport.billsList %} {% endfor %}
                        <table class="tables-body" width="100%" rules="none" style="table-layout: fixed; word-wrap: break-word;">
                            <tr class="tables-headers">
                                <th style="width: 7%;font-size: 8px;">Fecha Op</th>
                                <th style="width: 7%;font-size: 8px;">Fecha Final</th>
                                <th style="width: 3%;font-size: 8px;">Tipo Doc</th>
                                <th style="width: 6%;font-size: 8px;">Nro. Doc</th>
                                <th style="width: 14%; text-align: left;font-size: 8px;">Nombre Pagador</th>
                                <th style="width: 8%; text-align: center;font-size: 8px;">NIT/CC Inversionista</th>
                                <th style="width: 14%; text-align: left;font-size: 8px;">Nombre Inversionista</th>
                                <th style="width: 5%;font-size: 8px;">% Desc</th>
                                <th style="width: 5%;font-size: 8px;">Tasa Desc</th>
                                <th style="width: 4%;font-size: 8px;">Días Op</th>
                                <th style="width: 9%;font-size: 8px;">VR Venta Inversionista</th>
                                <th style="width: 9%;font-size: 8px;">VR Nominal</th>
                                <th style="width: 9%;font-size: 8px;">VR Futuro</th>
                            </tr>
                            {% for x in sellReport.billsList %}
                            <tr>
                                <td style="text-align: center;font-size: 8px;">{{x.dateOP}}</td>
                                <td style="text-align: center;font-size: 8px;">{{x.dateExp}}</td>
                                <td style="text-align: center;font-size: 8px;">FACT</td>
                                <td style="text-align: center;font-size: 8px;">{{x.number}}</td>
                                <td style="text-align: left;font-size: 8px;">{{x.payer}}</td>
                                <td style="text-align: center;font-size: 8px;">{{x.investor.document_number}}</td>
                                <td style="text-align: left;font-size: 8px;">
                                    {% if x.investor.social_reason %}
                                        {{ x.investor.social_reason }}
                                        {% else %}
                                        {{ x.investor.first_name }} {{ x.investor.last_name }}
                                    {% endif %}
                                </td>
                                <td style="text-align: center;font-size: 8px;">{{x.Desc}}</td>
                                <td style="text-align: center;font-size: 8px;">{{x.TasaDesc}}</td>
                                <td style="text-align: center;font-size: 8px;">{{x.daysOP}}</td>
                                <td style="text-align: center; width: 10%;font-size: 8px;">{{x.VRBuy|floatformat|intcomma}}</td>
                                <td style="text-align: center; width: 10%;font-size: 8px;">{{x.VRFuture|floatformat|intcomma}}</td>
                                <td style="text-align: center; width: 10%;font-size: 8px;">{{x.totalGM|floatformat|intcomma}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    

    <!-- DECLARACIONES -->  

    <tr>
        <td>
            <table width="100%" style="margin: 50px 0 20px 0;">
                <tr>
                    <td>
                        <table class="parrafo" style="border: none">
                            <tr>
                                <td style="vertical-align: super;"><div>
                                    Yo, {{sellReport.legalRepresentative}}, {{sellReport.legalRepresentativeTypeDocument}}.
                                    {{sellReport.legalRepresentativeDocumentNumber}}, actuando en calidad de Representante Legal de la empresa
                                    {{sellReport.emitterName}}, {{sellReport.emitterTypeDocument}} {{sellReport.emitterDocumentNumber}}, declaro que SMART
                                    EVOLUTION S.A.S. me hizo entrega del Resumen de la Negociación. Además declaro que he leído, entiendo y acepto este
                                    documento y sus anexos, que he comprendido todo lo aquí establecido, que he valorado el riesgo y condiciones de
                                    descuento de la operación de forma autónoma y bajo mi propia y exclusiva responsabilidad, entendiendo que las mismas no
                                    serán modificadas en caso de ocurrencia de pagos anticipados u otras condiciones extraordinarias.
                                </div></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- FIRMAS -->  

    <tr>
        <td>
            <table width="100%" style="margin: 50px 0px">
                <tr>
                    <td>
                        <table class="parrafo">

                            <tr> <!-- FIRMA PERSONA JURÍDICA -->  
                                <td style="vertical-align: super;"><div><strong>{{sellReport.legalRepresentative}}</strong><BR>
                                    {{sellReport.legalRepresentativeTypeDocument}}<BR>
                                    {{sellReport.legalRepresentativeDocumentNumber}}<BR><BR>
                                    Telf.: {{sellReport.legalRepresentativePhone}}<BR>
                                    Email: {{sellReport.legalRepresentativeEmail}}<BR><BR>
                                    <strong>{{sellReport.emitterName}}</strong><BR>
                                    {{sellReport.emitterTypeDocument}}: {{sellReport.emitterDocumentNumber}}<BR>
                                </div></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    </table>

    </center>

</div>
</body>

</html>
