<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">

body {
  background: #ffffff;
  min-width: 20cm;
  font-family:'Calibri', sans-serif;
  font-size: 12px;
}

page {
  background: white;
  margin: 0.5cm;
}

page[size="Letter"] {  
  width: 21.59cm;
  height: 27.94cm;
  orientation: portrait;
} 

table {
    table-layout: fixed;
    border-collapse: collapse;
}

 @page {
   margin: 1cm;
  }

 @media print {
  body, page {
    margin: 0cm;
    box-shadow: 0;
  }
} 

.etiquetas {
    color: #45546A;
}

.datos {
    color: #1d1d1d;
    font-weight: bold;
}

.main {
	background-color: #ffffff;
	margin: auto;
	width: 100%;
    max-width: 21.59cm;
	border-spacing: 0;
	color: #4a4a4a;
    font-size: 12px;
}



	</style>
</head>

<body class="main">


    <table style="border-collapse: collapse; width: 100%;" border="0">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <tbody>
            <tr>
                <td><img style="display:inline; margin-left: auto; margin-right: auto;" src="https://devsmartevolution.s3.amazonaws.com/imagenes/Logo%2BSmart%2B-%2BLite.svg" width="150"></td>
                <td>
                    <p style="line-height: 1; text-align: center; margin-right: 200px;">Smart Evolution SAS<br>
                        NIT 901.333.444-4</p>
                    <p style="font-size: 18px; line-height: 0; text-align: center; margin-right: 200px;">Comprobante de Egreso</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="border-collapse: collapse; width: 50%; height: 50px; margin-top: 30px; margin-bottom: 30px; margin-right: 0px; margin-left: auto;" border="0">
                        <colgroup>
                            <col style="width: 33.3637%;">
                            <col style="width: 33.3637%;">
                            <col style="width: 33.3637%;">
                        </colgroup>
                        <tbody>
                            <tr class="etiquetas">
                                <td style="text-align: center;">Fecha</td>
                                <td style="text-align: center;"># Recibo</td>
                                <td style="text-align: center;">Monto</td>
                            </tr>
                            <tr class="datos">
                                <td style="text-align: center;">{{date}}</td>
                                <td style="text-align: center;">{{id}}</td>
                                <td style="text-align: center;">${{amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="border-collapse: collapse; height: 150px; width: 100%; height: 150px; margin-top: 20px;" border="0">
                        <colgroup>
                            <col style="width: 13.2272%;">
                            <col style="width: 30.6364%;">
                            <col style="width: 5.83551%;">
                            <col style="width: 22.1749%;">
                            <col style="width: 7.19659%;">
                            <col style="width: 20.9111%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="etiquetas">Beneficiario</td>
                                <td class="datos" colspan="3">{{client}}</td>
                                <td class="etiquetas">NIT/CC</td>
                                <td class="datos">{{document}}</td>
                            </tr>
                            <tr>
                                <td class="etiquetas">Cantidad</td>
                                <td class="datos" colspan="5">{{amount_text}} (Pesos M/C)</td>
                            </tr>
                            <tr>
                                <td class="etiquetas">Concepto</td>
                                <td class="datos" colspan="5">REINTEGRO DE RECURSOS</td>
                            </tr>
                            <tr>
                                <td class="etiquetas" colspan="6">Datos Bancarios</td>
                            </tr>
                            <tr>
                                <td class="etiquetas">Titular</td>
                                <td class="datos">{{beneficiary}}</td>
                                <td class="etiquetas">Banco</td>
                                <td class="datos">{{bank}}</td>
                                <td class="etiquetas">Cuenta</td>
                                <td class="datos">{{account}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>
                      <img src="https://devsmartevolution.s3.amazonaws.com/imagenes/firma_aut.png" alt="Firma Autorizada" style="height: 80px;">
            
                    </p>
                    <p style="font-size: 10px;">Firma Autorizada</p>
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>
