<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer tu Contraseña</title>
    <style>
        /* Mantén aquí los estilos CSS proporcionados */
        /* Copia el contenido de tu plantilla original */
    </style>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <img src="https://devsmartevolution.s3.us-east-1.amazonaws.com/imagenes/Logo%2BSmart%2B-%2BLite.svg" alt="Smart Evolution Logo">
        </div>
        <div class="content">
            <h1>¡Hola, {{ user.first_name }} {{ user.last_name }}!</h1>
            <p>Recibimos una solicitud para restablecer tu contraseña.</p>
            <p>Haz clic en el siguiente enlace para cambiar tu contraseña:</p>
            <a href="{{ reset_url }}" class="cta-button">Restablecer Contraseña</a>
            <p>Si no solicitaste un cambio de contraseña, puedes ignorar este correo.</p>
        </div>
        <div class="footer">
            <p>La información contenida en este correo electrónico es confidencial y propiedad de Smart Evolution SAS.</p>
            <p>Si has recibido este mensaje por error, por favor, notifícanos a <a href="mailto:info@smartevolution.com.co">info@smartevolution.com.co</a> y elimina el mensaje.</p>
        </div>
    </div>
</body>
</html>
