services:
  web:
    build:
      context: .
    command: gunicorn -c gunicorn.conf.py core.wsgi:application
    volumes:
      - .:/app
      - ./logs:/app/logs
    ports:
      - "${DJANGO_PORT:-8000}:${DJANGO_PORT:-8000}"
    environment:
      - DJANGO_PORT=${DJANGO_PORT:-8000}
    env_file:
      - docker.env
    container_name: backend_smart_evolution
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "1G"
    networks:
      - smartevolutionbackend_smartevolution_network

networks:
  smartevolutionbackend_smartevolution_network:
    external: true